<p class="h1 template">Coffee, my bestfriend.!</p>
<p class="info"> Coffee is everything. Honestly, it is hard for me to remember the last day that I went without coffee. People always tell you that, when you come to college, coffee will be your best friend. However, it wasn't until I experienced college myself that I was able to realize how true that statement really is.

Coffee gets me through the days that I never wanted to start. After a long day of classes when you realize that you have 7 hours of homework left to do before you go to bed at night, coffee will be there to help you out. No matter what the problem is, coffee is always the solution.

Coffee makes me happy. Who doesn't love a big cup of a Dunkin' Donuts Caramel Iced Coffee? Coffee will always make my day better, no matter the circumstances. Coffee keeps my day moving and keeps me smiling while doing it.

#copied
</p>
